﻿@inherits LayoutComponentBase

<main>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="images/location.png">
            </a>
            <a class="navbar-item" href="#">
                <h1>Place Counter</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    @Body
    <footer class="footer">

        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <h4 class="block">
                        <strong>Place Counter</strong> by <a>Kyle Reilly</a>.
                    </h4>
                    <div class="block">
                        <p>Source code licensed <a href="https://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.</p>
                        <p>
                            <a href="https://www.flaticon.com/free-icons/maps-and-location" title="maps and location icons">Maps and location icons created by Iconpro86 - Flaticon</a>
                        </p>
                    </div>
                </div>
                <div class="column is-4"></div>
                <div class="column is-4">
                    <strong>Contribute</strong> on
                    <a href="https://gitlab.com/kjreills/place-counter" target="_blank" rel="noopener">

                        <span>GitLab</span>
                        <span class="icon">
                            <ion-icon name="logo-gitlab"></ion-icon>
                        </span>
                    </a>
                </div>
            </div>


        </div>

    </footer>
</main>