﻿@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using PlaceCounter
@using PlaceCounter.Google

<section class="section">
    <div class="container">
        <h1 class="title">
            Hello!
        </h1>
        <p class="subtitle">
            Welcome to <strong>Place Counter!</strong> This is just a handy utility for counting the number of visits
            you have made to a certain location, based on your Location History data. Start by downloading your location
            history from <a href="https://takeout.google.com/">Google Takeout</a>. Once you have that downloaded,
            unzip the archive you received, and import the "Records.json" file here. Your selected latitude and longitude
            will be searched in your records and a summary will be printed below. Don't worry, all of the processing
            happens right here in your browser, nothing is sent to any third party servers.
        </p>
    </div>
</section>
<section>
    <div class="container">
        <div class="field">
            <label class="label">Records.json File</label>
            <InputFile OnChange="@LoadJson" class="input"></InputFile>
        </div>
    </div>
</section>

@code
{
    private async Task LoadJson(InputFileChangeEventArgs e)
    {
        var parseResult = await Json.deserialize<LocationRecords>(e.File.OpenReadStream(1_024_000_000L));

        if (parseResult.IsOk)
        {
            Console.WriteLine("Parse success! {0} records", parseResult.ResultValue.locations.Length);
        }
        else
        {
            Console.WriteLine("Parse failure! {0}", parseResult.ErrorValue.Message);
        }
    }
}
