<script lang="ts">
  import { onMount } from 'svelte';
  import JSONStream from 'JSONStream';

  //let fileLoader: Worker | undefined = undefined;
  //const parser = new JSONParser({paths: ['$.locations']});

  function fileLoaded(e: Event) {
    const fileInput = e.target as HTMLInputElement;
    if (!fileInput.files) {
      return;
    }

    fileInput.files[0].stream().pipeTo(JSONStream.parse('locations')).then(console.log);

    //fileLoader?.postMessage({ files });
  }

  onMount(async () => {
    //const FileLoader = await import('$lib/file-loader.worker?worker');
    //fileLoader = new FileLoader.default();
  });
</script>

<section class="section">
  <div class="container">
    <h1 class="title">Hello!</h1>
    <p class="subtitle">
      Welcome to <strong>Place Counter!</strong> This is just a handy utility for counting the
      number of visits you have made to a certain location, based on your Location History data.
      Start by downloading your location history from
      <a href="https://takeout.google.com/">Google Takeout</a>. Once you have that downloaded, unzip
      the archive you received, and import the "Records.json" file here. Your selected latitude and
      longitude will be searched in your records and a summary will be printed below. Don't worry,
      all of the processing happens right here in your browser, nothing is sent to any third party
      servers.
    </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="field">
      <label class="label" for="recordsFile">Records.json File</label>
      <input type="file" id="recordsFile" on:change={fileLoaded} class="input" />
    </div>
  </div>
</section>
